<section class="form-section">
	<h2>Create your New Post!!</h2>

	<%= form_with model: @post, url: new_user_post_path do |form| %>
  	<%= form.label :title, "Title of your Post:" %>
  	<br>
  	<%= form.text_field :title, placeholder: "Title of your post" %>
		<br>
  	<%= form.label :text, "Text of your Post:" %>
		<br>
  	<%= form.text_area :text, size: "40x10", placeholder: "What do you want to post?" %>
		<br>
  	<%= form.submit "Send your Post now!! " %>
	<% end %>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var textarea = document.querySelector("textarea");

    textarea.addEventListener("input", function() {
      this.style.height = "";
      this.style.height = this.scrollHeight + "px";
    });
  });
</script>
