<section class="section-index-users post-show-container">
  <div class="post-show-div" >
    <h3 class="post-title"><%= @post.title %></h3>
    <p class="post-text"><%= @post.text %></p>
    <div class="comment-like">
      <span class="comments">Comments: <%= @post.comments_counter %></span>
      <span class="likes">
        <%= @post.likes_counter %>
      </span>
            
      <button class="like-btn">
        <%= " ♥  "%>
      </button>

    </div>
    <div class="post-comment-form">

      <%= form_with model: Comment, url: user_post_comments_path(params[:user_id], params[:post_id]), method: :post do |form| %>
        <%= form.hidden_field :post_id, value: post.id %>
        <%= form.label :text, "Your comment here:" %>
        <br>
        <%= form.text_area :text, size: "60x2.5", placeholder: "Please, be nice..." %>
        <br>
        <%= form.submit "Send your comment now !! " %>
      <% end %>
    </div>

  </div>

  <div class="post-comment">
	  <span class="show-post-comment"><u><strong>Users comments:</strong></u></span>
	  <% @post.comments.reverse.each do |comment| %>
		  <p>
        <span><strong><%= comment.author.name %>:</strong></span>
        <span><em><%= comment.text %></em></span>
		  </p>
    <% end %>
  </div>
</section>
