<section class="section-index-users post-show-container">
  <div class="post-show-div" >
    <h3 class="post-title"><%= @post.title %></h3>
    <p class="post-text"><%= @post.text %></p>
    <aside class="comment-like">
      <span class="comments">Comments: <%= @post.comments_counter %></span>
      <span class="likes">
        <%= @post.likes_counter %>
      </span>
            
      <button class="like-btn">
        <%= " ♥  "%>
      </button>

    <aside>
  </div>

  <div class="post-comment">
	  <span class="show-post-comment"><u><strong>Users comments:</strong></u></span>
	  <% @post.comments.reverse.each do |comment| %>
		  <p>
        <span><strong><%= comment.author.name %>:</strong></span>
        <span><em><%= comment.text %></em></span>
		  </p>
    <% end %>
  </div>
</section>
